@using YaleNexTouch.DTOModel; 
@model UserDTO
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assa Abloye :: YaleNexTouch - Login</title>
    <script>
        var baseUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    <div id="divLogin">

        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @data_bind = "value:userViewModel.UserName" })
        <br /><br />
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { type = "password", @data_bind = "value:userViewModel.Password" })
        <br /><br />

        <input type="submit" id="btnLogin" title="Login" value="Login" data-bind="click: function () { userViewModel.EnterAdmin($data) }" />

    </div>
</body>
</html>



<script type="text/javascript">
    var userViewModel = ko.mapping.fromJS(@Html.Raw(Model.ToJson()));
    ko.applyBindings(userViewModel);
</script>
@Scripts.Render("~/adminlogin")
