@using PatientPortal.Global
@using PatientPortal.Infrastructure.Utility;
@using PatientPortal.Infrastructure.Authentication;
@using DataLayer;
@using PatientPortal.Controllers;
@{
    var hospital = GetHospitalDetail();
    var hospitalName = hospital != null ? hospital.HospitalName : "Patient Portal Management System";
    string imgsrc = "../img/p1.jpg";
    if (hospital != null && hospital.HospitalLogo != null)
    {
        var base64 = Convert.ToBase64String(hospital.HospitalLogo);
        imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
    }

    var patientinfo = GetPatientInfo();
    var photoSrc = "../img/avatar-1.jpg";
    if (patientinfo != null && patientinfo.Photo != null && patientinfo.Photo.Length > 0)
    {
        var base64 = Convert.ToBase64String(patientinfo.Photo);
        photoSrc = string.Format("data:image/jpg;base64,{0}", base64);
    }



}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -@hospitalName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/App/Global/App.js"></script>
    <script src="~/Scripts/App/Global/Utility.js"></script>
    <link href="~/Content/hoe.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/hoe-horizontal-navigation.css" rel="stylesheet" />
    <link href="~/Content/header.css" rel="stylesheet" />
    <link href="~/Content/hoe-overlay-effect.css" rel="stylesheet" />
    <link href="~/Content/hoe-push-effect.css" rel="stylesheet" />
    <link href="~/Content/hoe-rightsidebar.css" rel="stylesheet" />
    <link href="~/Content/hoe-shrink-effect.css" rel="stylesheet" />
    <link href="~/Content/hoe-theme-color.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="">
            <div class="navbar-header">
                @Html.ActionLink(hospitalName, "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if ((User as CustomPrincipal) != null)
                {
                    @*<ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                            <li>@Html.ActionLink("My Appointment", "PatientProfile", "Appointment")</li>
                            <li>@Html.ActionLink("Doctor Schedule", "AddSchedule", "Masters")</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <strong>@((User as CustomPrincipal).FirstName)</strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu" style="width:240px">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="text-center">
                                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                                    </p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="text-left"><strong>@((User as CustomPrincipal).FirstName) @((User as CustomPrincipal).LastName)</strong></p>
                                                    <p class="text-left small">@((User as CustomPrincipal).Email)</p>
                                                    <p class="text-left">
                                                        <a href="~/Home/MyProfile" class="btn btn-primary btn-block btn-sm" style="width:90%">View Profile</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="~/Home/Logout" class="btn btn-danger btn-block" style="width:40%;float:right;margin-right:10px;">Logout</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>*@
                }

            </div>
        </div>
    </div>
    <header id="hoe-header" hoe-lpanel-effect="shrink">
        <div class="hoe-left-header">
            <a href="#"><i class="far fa-prescription"></i> <span>Patient Portal</span></a>
            <span class="hoe-sidebar-toggle"><a href="#"></a></span>
        </div>

        <div class="hoe-right-header" hoe-position-type="relative">
            <span class="hoe-sidebar-toggle"><a href="#"></a></span>
            <ul class="right-navbar">
                <li class="dropdown hoe-rheader-submenu hoe-header-profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span><img class="img-circle " src="@photoSrc"></span>
                        <span>@((User as CustomPrincipal).FirstName)<i class=" fa fa-angle-down"></i></span>
                        @*<span>James <b>Bond</b> <i class=" fa fa-angle-down"></i></span>*@
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a href="~/Home/MyProfile"><i class="fa fa-user"></i>My Profile</a></li>
                        <li><a href="~/Home/ChangePassword"><i class="fa fa-calendar"></i>Change Password</a></li>
                        @*<li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>My Inbox  <span class="badge badge-danger">
                                        3
                                    </span>
                                </a>
                            </li>*@
                        <li>
                            <a href="~/Appointment/PatientProfile">
                                <i class="fa fa-lock"></i>My Appointment <span class="badge badge-success">
                                    @GetAppointmentCount()
                                </span>
                            </a>
                        </li>
                        <li><a href="~/Home/Logout"><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </header>
    <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
        <aside id="hoe-left-panel" hoe-position-type="absolute">
            <div class="profile-box">
                <div class="media">
                    <a class="pull-left" href="~/Home/MyProfile">
                        <img class="img-circle" src="@photoSrc">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">Welcome <span>@((User as CustomPrincipal).FirstName)</span></h5>
                        <small>Patient</small>
                    </div>
                </div>
            </div>
            <ul class="nav panel-list">
                <li class="active">
                    <a href="~/Home/Dashboard">
                        <i class="fa fa-tachometer"></i>
                        <span class="menu-text">Dashboard</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="~/Home/Dashboard">
                        <i class="fa fa-tachometer"></i>
                        <span class="menu-text">Home</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="hoe-has-menu">
                    <a href="javascript:void(0)">
                        <i class="fa fa-bar-chart"></i>
                        <span class="menu-text">EMR</span>
                        <span class="selected"></span>
                    </a>
                    <ul class="hoe-sub-menu" style="display: none;">
                        <li>
                            <a href="~/Appointment/getAppointments">
                                <span class="menu-text">Appointment</span>
                               
                            </a>
                        </li>
                        <li>
                            <a href="~/Appointment/PatientProfile">
                                <span class="menu-text">Patient Profile</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="menu-text">User Profile</span>
                                <span class="label sul">Updated</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="menu-text">Team Member</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="menu-text">Time Line</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="~/Appointment/GetAppointments">
                        <i class="fa fa-bar-chart"></i>
                        <span class="menu-text">Book Appointments</span>
                        <span class="label sul">New</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-bar-chart"></i>
                        <span class="menu-text">Make Payment</span>
                        <span class="label sul">New</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-bar-chart"></i>
                        <span class="menu-text">Account Statement</span>
                        <span class="label sul">New</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-bar-chart"></i>
                        <span class="menu-text">Pending Orders</span>
                        <span class="label sul">New</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-bar-chart"></i>
                        <span class="menu-text">Reports</span>
                        <span class="label sul">New</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-bar-chart"></i>
                        <span class="menu-text">Receipt</span>
                        <span class="label sul">New</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
        </aside>
        <section id="main-content" style="min-height: 222px;">
            @RenderBody()
        </section>
    </div>
    <div class="container body-content">

    </div>
    <hr class="text-center navbar-fixed-bottom" />
    <footer class="text-center navbar-fixed-bottom">
        <p>&copy; @DateTime.Now.Year - Patient Portal</p>
    </footer>
    @if (TempData["Alert_Title"] != null)
    {
        <div id="dialog" title="@TempData["Alert_Title"].ToString()">
            @if (TempData["Alert_Message"] != null)
            {
                <p>@TempData["Alert_Message"].ToString()</p>
            }
            else
            {
                <p>Success..!</p>
            }
        </div>
    }


    @*Alert*@
    <div id="alertModel" style="display:none;" title="">
        <p></p>
    </div>

    <script>
        $(document).ready(function () {
            $('li.active').removeClass('active');
            $('#hoeapp-container a[href]').each(function (ind, ele) {
                if($(ele).attr('href').toLowerCase().indexOf(location.pathname.toLowerCase())>-1)
                {
                    $(ele).parent().addClass('active');
                }
            });
        });
        $(function () {

            $("#dialog").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
        $('.hoe-sub-menu').parent().click(function () {
            var ul = $(this).find('.hoe-sub-menu');
            if ($(ul).is(':visible'))
                $(ul).hide();
            else
                $(ul).show();
        });
    </script>

    <div class="ajaxloader">
        <img class="" src="~/img/ajax-loader.gif" />
    </div>
    <style>
        .ajaxloader {
            background: #808080a3;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: none;
        }

            .ajaxloader img {
                width: 80px;
                height: 80px;
                position: absolute;
                top: 43%;
                left: 45%;
            }
            a{
                text-decoration:none !important;
            }
    </style>
</body>
</html>
