
@{
    Layout = null;
}

@using PatientPortal.Global
@using PatientPortal.Controllers;
@using DataLayer;
@{
    var hospital = GetHospitalDetail();
    var hospitalName = hospital != null ? hospital.HospitalName : "Patient Portal Management System";
    string imgsrc = "../img/p1.jpg";
    if (hospital != null && hospital.HospitalLogo != null)
    {
        var base64 = Convert.ToBase64String(hospital.HospitalLogo);
        imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @hospitalName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/App/Global/App.js"></script>
    <script src="~/Scripts/App/Global/Utility.js"></script>
    <link href="~/Content/App/Login/Login.css" rel="stylesheet" />
    <script src="~/Scripts/App/Login/Login.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                @Html.ActionLink(hospitalName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div class="container1">
        @*<div class="col-md-8 col-md-offset-2 col-sm-12 no-padding-sm">*@
        <div class="col-md-12 loginpage-container">
            <div class="col-md-8 no-padding">
                <div class="col-md-12 no-padding">

                    <div class="col-md-6 no-padding loginpage-leftimg hidden-xs">
                        <img src="@imgsrc" class="img-responsive" alt="banner" />
                    </div>
                    <div class="col-md-6 no-padding loginpage-leftimg hidden-xs">
                        <img src="../img/p2.jpg" class="img-responsive" alt="banner" />
                        @*<h2 style="font-size:3vw; color: dodgerblue;">Welcome To</h2>
                            <p style="font-size:1.5vw;">Ram Manohar Lohiya Hospital<br>Lucknow</p>*@
                    </div>
                </div>
                <div class="loginpage-leftimg hidden-xs"><img src="../img/banner-bg.jpg" class="img-responsive" alt="banner" /></div>
            </div>

            <div class="col-md-4 no-padding logintoggle">
                <form id="login_form" class="dialog-form" action="/home/GetPatientLogin" method="POST">
                    <div class="login-page-section" style="min-height:350px;">
                        <small class="loginpage-alert lv-alert alert-success text-center" style="display:none;font-weight: 600;">
                        </small>
                        <h3 style="text-align:center;font-size:18px;font-weight:700;color:#434142">Login to Your Account</h3>
                        <p style="text-align:center;font-size:13px;font-weight:normal;color:#888888">Access to Your Health</p>
                        <hr />
                        <div class="form-group">
                            <label for="user_username" class="control-label">Email Id/ Mobile No./ Registration No.:</label>
                            <input type="text" id="user_username" class="form-control" name="username" autofocus />
                        </div>
                        <div class="form-group">
                            <label for="user_password" class="control-label">Password:</label>
                            <input type="password" id="user_password" class="form-control" name="password" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login" style="float:left;width:300px;">
                        </div>
                        @*<input type="hidden" name="emailidfor" value="">
                            <input type="hidden" name="emaillinktype" value="">
                            <input type="hidden" name="getpreurl" value="login.html">
                            <input type="hidden" name="auser" value="">
                            <div class="form-group">
                                <div class="src_field_box">
                                    <button type="submit" onclick="Home.login(event);" id="LoginBTN" class="btn btn-lg btn-primary btn-block ripplelink">LOGIN</button>
                                </div>
                            </div>*@
                        <div class="login-forgot-link" style="">
                            <ul class="list-inline">
                                <li><a href="javascript:void(0);" id="showforgotpass">Forgot Password?</a></li>
                                <li><a href="javascript:void(0);" id="showforgotpass">Forgot User Id?</a></li>
                            </ul>
                        </div>

                    </div>
                </form>
                <div class="login-page-register-section" style="">
                    <p>Don't have an account?</p>
                    <div class="form-group">
                        <div class="src_field_box">
                            <a href="../home/Register" id="registerBTN" class="btn btn-lg btn-blue btn-block ripplelink"> REGISTER </a>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-6 no-padding forgotpasstoggle" style="display:none;">
                    <div class="login-page-section">
                        <div id="forget_pwd_wrapper">
                            <p class="text-center"><img src="../assets/images/forgot.gif" width="200" alt="" /></p>
                            <h2>Forgot Your Password?</h2>
                            <p>Don't worry, it happens to the best of us.</p>
                            <div class="form-group mt-10">
                                <div class="src_field_box">
                                    <input type="email" name="forgot_email" id="forgot_email" class="login-page-input" placeholder="Email Address" onkeydown="keyPress()">
                                    <small class="lv-alert alert-danger" id="errForgot" style='display:none'></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="src_field_box">
                                    <button type="button" id="btn_forgot" class="btn btn-lg btn-primary btn-block ripplelink" onclick="javascript:return forgot_password()">SUBMIT</button>
                                </div>
                            </div>
                            <div class="login-forgot-link">
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0);" id="showlogin" class="backtolog"><i class="fa fa-arrow-left"></i> Back to Login</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="forget_password_success" style="display:none;margin-top:14%;">

                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
                            <small class="loginpage-alert lv-alert alert-success text-center" style=";font-weight: 600;">
                                <span id="spn_forget_pwd_success"></span>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding reactitoggle" style="display:none;">
                    <div class="login-page-section">
                        <div id="resend_mail_wrapper">
                            <p class="text-center"><img src="../assets/images/activation_new.svg" width="170" alt="" /></p>
                            <h2>Resend Activation Email</h2>
                            <p>Don't worry, it happens to the best of us.</p>
                            <div class="form-group mt-10">
                                <div class="src_field_box">
                                    <input type="email" name="resend_activation_email" id="resend_activation_email" class="login-page-input" placeholder="Email Address" value="" onkeydown="keyPress()">
                                    <small class="lv-alert alert-danger" id="errResend" style='display:none'></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="src_field_box">
                                    <button type="button" id="btn_resend" class="btn btn-lg btn-primary btn-block ripplelink" onclick="javascript:return resend_activation()">SEND</button>
                                </div>
                            </div>
                            <div class="login-forgot-link">
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0);" id="showlogin2" class="backtolog"><i class="fa fa-arrow-left"></i> Back to Login</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="resend_mail_success" style="display:none;margin-top:14%;">

                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
                            <small class="loginpage-alert lv-alert alert-success text-center" style=";font-weight: 600;">
                                <span id="spn_resend_mail_success"></span>
                            </small>
                        </div>
                    </div>
                </div>*@
        </div>
        @*</div>*@
    </div>
    @*<div class="container body-content">
            <div id="loginContainer" class="dialog dialog-effect-in" style="width:420px">
                <div class="dialog-front">
                    <div class="dialog-content">
                        <form id="login_form" class="dialog-form" action="/home/GetPatientLogin" method="POST">
                            <fieldset>
                                <legend style="background-color:#428bca;text-align:center;color:#ffffff">
                                    <font style="font-size:18px;font-family:'Times New Roman', Times, serif;border-bottom-color:white">LOGIN TO YOUR ACCOUNT</font><br />
                                    <font style="font-size:13px">
                                        If you have already registered, then enter UserId and Password.<br />
                                        else click to online Registration.
                                    </font>
                                </legend>
                                    <div class="form-group">
                                            <label for="user_username" class="control-label">User Id:</label>
                                            <input type="text" id="user_username" class="form-control" name="username" autofocus />
                                        </div>
                                        <div class="form-group">
                                            <label for="user_password" class="control-label">Password:</label>
                                            <input type="password" id="user_password" class="form-control" name="password" />
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login" style="float:right;width:100px;">
                                        </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@
    <hr class="text-center navbar-fixed-bottom" />
    <footer class="text-center navbar-fixed-bottom">
        <p>&copy; @DateTime.Now.Year - Patient Portal</p>
    </footer>
    @if (TempData["Alert_Title"] != null)
    {
        <div id="dialog" title="@TempData["Alert_Title"].ToString()">
            @if (TempData["Alert_Message"] != null)
            {
                <p>@TempData["Alert_Message"].ToString()</p>
            }
            else
            {
                <p>Success..!</p>
            }
        </div>
    }


    @*Alert*@
    <div id="alertModel" style="display:none;" title="">
        <p></p>
    </div>
</body>
</html>

