@using DataLayer
@using System.Configuration;
@using PatientPortal.Global;

@model List<PateintLeadger>
@{
    ViewBag.Title = "Billing Report";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<form action="/Report/DownloadReportFile" method="post" id="_form">
    <div class="" style="padding-top:20px;">
        <div class="col-sm-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Billing Reports</div>
                <div class="panel-body">
                    <input type="hidden" name="fileurl" id="_fileurl" value="" />
                    <table class="table table-bordered table-hover table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Bill Date</th>
                                <th>Bill No</th>
                                <th>Bill Type</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.billdate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.billno</td>
                                        <td title="'+javascript:getBillType(@item.vtype)+'">@item.vtype</td>
                                        <td>@item.netamt</td>
                                        <td>
                                            <div>
                                                @if (!string.IsNullOrEmpty(Convert.ToString(item.Billid)))
                                                {
                                                    var url = @ConfigurationManager.AppSettings["HISBillReportUrl"] + "/" + Convert.ToString(item.Billid);
                                                    var urlReplaced = url.Replace("/", "$");

                                                <div class="btn-group">
                                                    @*@Html.ActionLink("View", "ViewBillReport", new { controller = "ControllerName" }, new { target = "_blank" })
                                                    @Html.ActionLink("Download", "ViewBillReport", new { controller = "ControllerName" }, new { target = "_blank" })*@
                                                    <a href="@ConfigurationManager.AppSettings["HISBillReportUrl"]?billid=@Convert.ToString(item.Billid)&vtype=@Convert.ToString(item.vtype)" id="_view" target="_blank" class="btn btn-primary">View</a>
                                                    @*<a href="#" id="_download" target="_blank" class="btn btn-primary" download="@ConfigurationManager.AppSettings["HISBillReportUrl"]?billid=@Convert.ToString(item.Billid)&vtype=@Convert.ToString(item.vtype)">Download</a>*@
                                                    <a href="~/Report/DownloadFile?url=@urlReplaced" id="_download" target="_blank" class="btn btn-primary">Download</a>
                                                </div>
                                                }
                                                else
                                                {
                                                    <text>No Reports</text>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    *SV-Procedure/Diagnostic Billing,
                    *PH-Pharmacy Billing-Refund,
                    *GP-Patient Payment,
                    *GR-Receipt from Patient,
                    *PHR-Pharmacy Return,
                    *SR-Sales Return
                </div>
            </div>
        </div>

    </div>
</form>
<script>
    var _billType = {
        SV: 'Procedure/Diagnostic Billing',
        PH: 'Pharmacy Billing-Refund',
        GP: 'Patient Payment',
        GR: 'Receipt from Patient',
        PHR: 'Pharmacy Return',
        SR: 'Sales Return'
    }
    function getBillType(_type) {
        var billType = _billType[_type];
        return billType === undefined ? 'Not Define' : billType;
    }
    //$(document).on('click', '[id*="_download"]', function () {
    //    $('#_form').attr('action', '/Report/DownloadReportFile');
    //    $('#_fileurl').val($(this).data('url'));
    //    $('#_form').submit();
    //});

    $(document).on('click', '[id*="view"]', function () {
        $('#_form').attr('action', '/Report/ViewReportFile');
        $('#_fileurl').val($(this).data('url'));
        // $('#_form').submit();
    });
</script>
