@using PatientPortal.Models.Patient
@using PatientPortal.Global
@model List<PatientLedgerModel>
@{
    ViewBag.Title = "PatientLedger";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}


<input type="hidden" value="@WebSession.HospitalLogo" id="hdnHospitalLogo" />
<form id="form" action="/Report/FilterLeadgerReport" method="post" autocomplete="off">
    <div class="" style="padding-top:20px;padding-bottom: 50px;">
        <div class="col-sm-12 col-lg-12">
            <div class="form-group">
                <label for="title" class="control-label col-md-2 col-sm-2 col-xs-2">Report Duration</label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="text" id="DateFrom" class="form-control" name="DateFrom"
                           required maxlength="6" placeholder="dd/mm/yyyy" />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="text" id="DateTo" class="form-control" name="DateTo"
                           required maxlength="6" placeholder="dd/mm/yyyy" />
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <input type="submit" name="FilterButton" class="btn btn-primary btn-blue btn-block btn-lg" value="Filter">
                </div>
            </div>
        </div>
    </div>
</form>
<form action="/Report/DownloadReportFile" method="post" id="_form">
    <div class="" style="padding-top:20px;">
        <div class="col-sm-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Patient Leadger (Payment Receipts & Payment Given)<div style="margin-top:-7px;" class="pull-right"><input class="btn btn-info" type="button" value="Print" id="btnPrint" /> </div> </div>
                <div class="panel-body">
                    <input type="hidden" name="fileurl" id="_fileurl" value="" />
                    <table class="table table-bordered table-hover table-responsive table-striped" id="PaymentLedgerReport">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>I.P. No.</th>
                                @*
                                    <th>Type</th>*@
                                <th>V. No</th>
                                <th>Description</th>
                                <th>Payment</th>
                                <th>Receipt</th>
                                @*
                                    <th>Balance</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PatientLedgerModel item in Model)
                            {
                                if (Array.IndexOf(new string[] { "GR", "GP" }, item.Type) > -1)
                                {
                                    <tr>
                                        <td>@item.Date.ToShortDateString()</td>
                                        <td>@item.IPNo</td>
                                        @*
                                            <td>@item.Type</td>*@
                                        <td>@item.VNo</td>
                                        <td>@item.Description</td>
                                        @if (Array.IndexOf(new string[] { "GP" }, item.Type) > -1)
                                        {
                                            <td>@item.Payment</td>
                                            <td></td>
                                        }
                                        else if (Array.IndexOf(new string[] { "GR" }, item.Type) > -1)
                                        {
                                            <td></td>
                                            <td>@item.Receipt</td>
                                        }

                                        @*
                                            <td>@item.Balance</td>*@
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Patient Leadger (Procedure & Medicine)</div>
                <div class="panel-body">
                    <input type="hidden" name="fileurl" id="_fileurl" value="" />
                    <table class="table table-bordered table-hover table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>I.P. No.</th>
                                @*<th>Type</th>*@
                                <th>V. No</th>
                                <th>Description</th>
                                <th>Payment</th>
                                <th>Receipt</th>
                                @*<th>Balance</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PatientLedgerModel item in Model)
                            {
                                if (Array.IndexOf(new string[] { "PH", "SV", "PHR", "SR", "RS" }, item.Type) > -1 && item.SaleType == "PHR")
                                {
                                    <tr>
                                        <td>@item.Date.ToShortDateString()</td>
                                        <td>@item.IPNo</td>
                                        @*<td>@item.Type</td>*@
                                        <td>@item.VNo</td>
                                        <td>@item.Description</td>
                                        @if (Array.IndexOf(new string[] { "PH", "SV", "SP" }, item.Type) > -1)
                                        {
                                            <td>@item.Payment</td>
                                            <td></td>
                                        }
                                        else if (Array.IndexOf(new string[] { "PHR", "SR", "RS" }, item.Type) > -1)
                                        {
                                            <td></td>
                                            <td>@item.Receipt</td>
                                        }
                                        @*<td>@item.Balance</td>*@
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</form>
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<script>
    $(document).on('click', '#btnPrint', function () {
        var pageTitle = 'Patient Ledger Report';
        stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
            win = window.open('', 'Print', 'width=500,height=300');
        var dd = $('.table:eq(0)').clone();
        dd.find('tbody').append($('.table:eq(1) tbody tr').clone());

        win.document.write('<html><head><title>' + pageTitle + '</title>' +
            '<link rel="stylesheet" href="' + stylesheet + '">' +
            '</head><body style="font-size=11px;"><hr/><div style="text-align:center;"><img src="' + $('#hdnHospitalLogo').val() + '"/></div><hr/> <table class="table table-bordered table-hover table-responsive table-striped">' + dd.html() + '</table></body ></html > ');
        //win.document.close();
        //win.print();
        //win.close();
        return false;
    });

    $(document).ready(function () {
        $('#DateFrom').datepicker({
            changeMonth: true,
            changeYear: true,
            stepMonths: true,
            yearRange: "-100:+0",
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });
        $('#DateTo').datepicker({
            changeMonth: true,
            changeYear: true,
            stepMonths: true,
            yearRange: "-100:+0",
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });
    });
</script>

@*@section Scripts
    {*@
@*<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#PaymentLedgerReport").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Report/PatientLedgerPaymentReport",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Date", "name": "Date", "autoWidth": true },
                    { "data": "IPNo", "name": "I.P. No", "autoWidth": true },
                    { "data": "VNo", "name": "V. No", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "Payment", "name": "Payment", "autoWidth": true },
                    { "data": "Receipt", "name": "Receipt", "autoWidth": true }
                ]
            });
        });
    </script>*@
@*}*@

