@using PatientPortal.DTOModel;
@model List<PatientPortal.DTOModel.RecommendedProductDTO>
@{
    string baseHref = System.Configuration.ConfigurationManager.AppSettings["BaseHref"];
    string surveyName = string.Empty;
    int preProductLength = 0, nextProductLength = 0, productPerPage = 0, productCountPerPage = 0, counter = 0, productListCount = 0, totalProductUnits = 0;
    bool isRequriedFooter = false;

    List<RecommendedProductDTO> recommendedList = new List<RecommendedProductDTO>();
    List<RecommendedProductDTO> RecommendedProductDTOList = new List<RecommendedProductDTO>();
    List<RecommendedProductDTO> sameProductCountList = new List<RecommendedProductDTO>();
    foreach (RecommendedProductDTO product in Model.OrderBy(c => c.ProductName))
    {
        surveyName = product.SurveyName;
        product.ProductMainImage = baseHref + product.ProductMainImage;
        if (recommendedList.Where(c => c.ProductId == product.ProductId).ToList().Count <= 0)
        {
            recommendedList.Add(product);
        }


        int currentValue;
        bool isNumber = int.TryParse(product.RecommendedCount, out currentValue);
        if (isNumber)
        {
            RecommendedProductDTO productObj = new RecommendedProductDTO();
            productObj.ProductId = product.ProductId;
            productObj.AnswerTitle = product.AnswerTitle;
            productObj.RecommendedCount = product.RecommendedCount;
            sameProductCountList.Add(productObj);
        }
    }
    if (recommendedList.Count > 0)
    {
        RecommendedProductDTOList = recommendedList;
        productListCount = RecommendedProductDTOList.Count;
    }
}
@{
    ViewBag.Title = "RecommendedProduct";
    Layout = null;
}

<html lang="en" style="margin:0; padding:0;">
<head>
    <meta charset="utf-8">
    <title>::: Assa Abloy :::</title>
</head>
<body style="margin: 0; padding: 0; border: 0; font-family: arial; font-size: 16px; text-align:justify; background-color: #eee;">
    <div style="width:100%; margin:0 auto; background-color:#fff;">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td width="733">
                                            <div style="height:806px; background:url('@(baseHref)Contents/images/bg.png') no-repeat 0 0;"></div>
                                        </td>
                                        <td valign="top" align="center" style="padding-top:50px;">
                                            <div style="width:136px; height:136px; background:url('@(baseHref)Contents/images/logo.png') no-repeat 0 0;" title="Welcome to the ASSA ABLOY Group - The global leader in door opening solutions"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background: url('@(baseHref)Contents/images/footer-bg-pdf.png') no-repeat 0 bottom ; padding-top:0px;" height="595">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td height="300" valign="top" style="padding-top:70px;"> <h1 style="width:550px; margin: 0px 0 0 50px; line-height:56px; padding:50px 30px 0 0; background: url('@(baseHref)Contents/images/arrow.png') no-repeat 0 0; font-size:42px; font-weight: bold;">@surveyName</h1></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 50px; padding-right: 50px; padding-top:215px; ">
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tr>
                                                    <td align="left" style="font-size:12px; line-height:24px;">
                                                        An ASSA ABLOY Group Brand
                                                    </td>
                                                    <td align="right">
                                                        <img src="@(baseHref)Contents/images/footer-logo.png" alt="An ASSA ABLOY Group Brand" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <p style="page-break-after:always;"></p>
                </td>
            </tr>
            <tr>
                <td style="background-color:#f0f0f0; padding:30px 50px 0;">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td><img src="@(baseHref)Contents/images/logo_grey.png" style="width:112px; height:112px;" /></td>
                                    </tr>
                                    <tr>
                                        <td><h2 style="font-size:42px; margin:30px 0 30px 0; padding:0 0 8px 0; display:inline-block; background:url('@(baseHref)Contents/images/down-arrow.png') no-repeat right bottom;"><span style="border-bottom:7px solid #ffd402; display:inline-block;  padding:0 20px 20px 0; line-height:30px;">Product Recommendations</span></h2></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="line-height:22px;">
                                <p style="margin:0 0 40px 0; text-align:justify;">
                                    Thank you for completing the Yale multi-family survey! Below are the products recommended
                                    for your facility. If you have any questions or need any additional information on securing your
                                    multi-family property, please feel free to contact us.
                                </p>
                            </td>
                        </tr>
                        @foreach (RecommendedProductDTO recommendation in RecommendedProductDTOList)
                        {
                            int currentProductLength = recommendation.ProductDescription.Length;
                            isRequriedFooter = false;
                            int productHeight = 0, isMultipleUnits = 0;
                            nextProductLength = 0;
                            totalProductUnits = 0;

                            if ((counter + 1) < productListCount)
                            {
                                nextProductLength = RecommendedProductDTOList[counter + 1].ProductDescription.Length;
                            }

                            if (productCountPerPage == 1)
                            {
                                productCountPerPage++;
                            }


                            if (counter == 0)
                            {
                                productHeight = 940;
                            }
                            if (counter > 0)
                            {
                                // 1. current < 800 && pre  > 800 && next > 800
                                // 2. current < 800 && next > 800
                                // 3. current > 800
                                // 4. current < 800 && pre < 800 && productPerPage == 1
                                // 5. current < 800 && pre == 0 && next == 0
                                // 6. pre > 800 && counter == (RecommendedProductDTOList.Count -1)
                                if ((currentProductLength < 800 && preProductLength > 800 && nextProductLength > 800) || (currentProductLength < 800 && nextProductLength > 800) || (currentProductLength > 800) || (currentProductLength < 800 && preProductLength < 800 && productPerPage == 1) || (currentProductLength < 800 && preProductLength == 0 && nextProductLength == 0) || (currentProductLength < 800 && preProductLength < 800 && nextProductLength == 0 && productPerPage == 0) || preProductLength > 800 && counter == (RecommendedProductDTOList.Count - 1))
                                {
                                    productCountPerPage = productPerPage == 1 ? 1 : 2;
                                    productPerPage++;
                                    isRequriedFooter = true;
                                    productHeight = productPerPage == 1 ? 1090 : 550;  // 1075 - 620
                                }
                                else
                                {
                                    productHeight = 500;
                                    productCountPerPage++;
                                    productPerPage++;
                                    if (productCountPerPage == 2)
                                    {
                                        isRequriedFooter = true;
                                    }
                                }
                            }

                            if (counter > 0 && ((productCountPerPage == 1 && isRequriedFooter == false) || currentProductLength > 800 || preProductLength > 800 || counter == 1 || productCountPerPage == 2))
                            {
                                <tr>
                                    <td style="padding-top:65px;">
                                        @{Html.RenderPartial("PdfHeader");}
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td style="padding-top:20px; padding-bottom:20px;" height="@(productHeight)" valign="top">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tableproduct">
                                        <tr>
                                            <td colspan="2">
                                                <h3 style="font-size:28px; margin:0 0 20px 0; padding:0;">
                                                    @recommendation.ProductName
                                                    @foreach (RecommendedProductDTO productUnits in sameProductCountList.Where(c => c.ProductId == recommendation.ProductId).ToList())
                                                    {
                                                        isMultipleUnits++;
                                                        string unitType = Convert.ToInt16(productUnits.RecommendedCount) > 1 ? " units" : " unit";
                                                        int currentProductValue;
                                                        bool isTitleNumber = int.TryParse(recommendation.RecommendedCount, out currentProductValue);
                                                        if (isTitleNumber)
                                                        {
                                                            totalProductUnits = totalProductUnits + Convert.ToInt16(productUnits.RecommendedCount);
                                                            <span style="display:block; font-size:16px; font-weight:normal; margin-top:5px;">

                                                                @{
                                                            int currentAnswerTitle;
                                                            bool isAnswerNumber = int.TryParse(productUnits.AnswerTitle, out currentAnswerTitle);
                                                            if (isAnswerNumber)
                                                            {

                                                                @productUnits.RecommendedCount @unitType
                                                            }
                                                            else
                                                            {
                                                                @productUnits.AnswerTitle @Html.Raw(" : ") @productUnits.RecommendedCount @unitType

                                                            }
                                                                }



                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span style="display:block; font-size:16px; font-weight:normal; margin-top:5px;">
                                                                @productUnits.AnswerTitle @Html.Raw(" : ") @productUnits.RecommendedCount @unitType
                                                            </span>
                                                        }
                                                    }
                                                    @if (isMultipleUnits > 1 && totalProductUnits > 1)
                                                    {
                                                        <span style="display:block; font-size:16px; font-weight:normal; margin-top:5px;">
                                                            <b> @("Total : ")    @totalProductUnits   @(" units")</b>
                                                        </span>
                                                    }
                                                </h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="300" valign="top">
                                                @if (recommendation.ProductMainImage.Contains("Images"))
                                                {
                                                    <img src="@recommendation.ProductMainImage" style="width:300px;" />
                                                }
                                                else
                                                {
                                                    <img src="@(baseHref)Contents/images/default-img.png" style="width:300px;" />
                                                }
                                            </td>
                                            <td valign="top" style="padding-left:30px;">
                                                @Html.Raw(recommendation.ProductDescription)
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            if (productHeight == 500 && productCountPerPage == 1)
                            {
                                <tr>
                                    <td>
                                        <hr style="border-top: 1px dotted #ffcc00; border-bottom: 0; border-left: 0; border-right: 0; margin: 30px 0; padding: 0;" />
                                    </td>
                                </tr>
                            }
                            if (counter == 0)
                            {
                                <tr>
                                    <td>
                                        @{Html.RenderPartial("PdfFooter");}
                                    </td>
                                </tr>
                                        productCountPerPage = 0;
                            }
                            else
                            {
                                preProductLength = recommendation.ProductDescription.Length;
                            }
                            if (counter > 0 && isRequriedFooter)
                            {
                                <tr>
                                    <td>
                                        @{Html.RenderPartial("PdfFooter");}
                                    </td>
                                </tr>
                                        productCountPerPage = 0;
                                        productPerPage = 0;
                                        productHeight = 0;
                            }
                            counter++;
                        }

                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding:0 30px;">
                    <p style="page-break-after:always;"></p>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td style="padding-top:20px;"> <div style="width:136px; height:136px; background:url('@(baseHref)Contents/images/logo.png') no-repeat 0 0; margin:30px auto 10px;" title="Welcome to the ASSA ABLOY Group - The global leader in door opening solutions"></div><div style="text-align:center; font-size:16px; margin-bottom:50px; line-height:18px;">Yale Commercial Solutions</div> </td>
                        </tr>
                        <tr>
                            <td style="background: url('@(baseHref)Contents/images/bg-bldg.jpg') no-repeat center 0; padding-top:300px; padding-left:50px; padding-right:50px; padding-bottom:50px; color:#4f4f4f;">
                                <div style="font-size:16px; line-height:20px;">
                                    Yale Locks & Hardware<br />
                                    225 Episcopal Road <br />
                                    Berlin, CT 06037-4004 USA <br />
                                    Tel: 1-800-438-1951 <br />
                                    Fax: 1-800-338-0965 <br />
                                    yalelocks.com
                                </div><br /><br />
                                <div style="font-size:16px; line-height:20px;">
                                    ASSA ABLOY Door Security Solutions Canada<br />
                                    160 Four Valley Drive<br />
                                    Vaughan, Ontario L4K 4T9<br />
                                    Tel: 1-800-461-3007<br />
                                    Fax: 1-800-461-8989<br />
                                    assaabloy.ca
                                </div><br /><br />

                                <div style="font-size:10px; line-height:14px;">
                                    Yale Locks & Hardware is a division of Yale Security Inc., an ASSA ABLOY Group company.<br /><br />
                                    Yale®, nexTouch™ and Yale Real Living™ are registered trademarks or trademarks of Yale Security Inc., an <br />
                                    ASSA ABLOY Group company. Accentra and Seos are trademarks or registered trademarks of ASSA ABLOY<br />
                                    AB. HID® is a registered trademark of HID Global Corp. Other products’ brand names may be trademarks<br />
                                    or registered trademarks of their respective owners and are mentioned for reference purposes only. These<br />
                                    materials are protected under U.S. copyright laws. All contents current at time of publication.<br /><br />
                                    Copyright © 2016, Yale Security Inc., an ASSA ABLOY Group company. All rights reserved. Reproduction<br />
                                    in whole or in part without the express written permission of Yale Security Inc., an ASSA ABLOY Group<br />
                                    company is prohibited.<br /><br />

                                    YALE, with its unique global reach and range of products, is the world’s favorite lock. <br /><br />

                                    ASSA ABLOY is the global leader in door opening solutions, dedicated to satisfying end-user needs for<br />
                                    security, safety and convenience.

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 0px;">
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td width="50%" valign="top" align="left" style="padding:20px 0; font-size:16px;">
                                            An ASSA ABLOY Group brand
                                        </td>
                                        <td width="50%" valign="top" align="right" style="padding:20px 0;">
                                            <img src="@(baseHref)Contents/images/white-bg-logo.png" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>