@using PatientPortal.Resource.SurveyUser;
@{
    Layout =  null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <base href="@PatientPortal.Shared.PatientPortalConstants.ConfigurationKeys.baseHref" />
    <meta charset="utf-8">
    <link href="~/Contents/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Contents/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <!-- Script added -->
    @Scripts.Render("~/bundles/LayoutLogin")
    <script>
        var baseUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
        var languageCode = '@System.Web.HttpContext.Current.Request.Cookies["Language"].Value.ToString()';
        $(document).ready(function () {
            $("#divLoader").removeClass("hidden");
        });
    </script>

</head>
<body> 
    <div class="pagewrap">
        <header>
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-5 col-sm-5 col-xs-12 logo">
                        <img src="~/Contents/images/logo-yale.png" class="img-responsive" alt="@PageNotFound.WelcomeAssaAbloy" />
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12 nextouch">
                        Multi-Family Housing Solutions
                    </div>
                </div>
            </div>
        </header> 

        <div class="main-navigation">
            <!-- navigation container start -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6">
                    </div> 
                </div>
            </div>
            <!-- main-navigation end -->
        </div>

        <div class="container">
            <div class="not-found">
                @PageNotFound.MissingPage
                <a href="javascript:history.go(-1);">@PageNotFound.GoBack</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 text-left">An ASSA ABLOY Group Brand</div>
                <div class="col-md-7 col-sm-12 col-xs-12 text-center">Copyright &copy; 2015, Yale Security Inc., an ASSA ABLOY Group company </div>
                <div class="col-md-2 col-sm-12 col-xs-12 text-right footer-logo"> <img src="~/Contents/images/footer-logo.png" class="img-responsive" /></div>
            </div>
        </div>
    </div>
 
    <link href="~/Contents/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" data-main="Scripts/app/@ViewBag.Script/config.js" src="~/Scripts/lib/require.js"></script>
</body>
</html>
